$white: #FFF;
$black: #000;
$accent: #FFD700;

.inputBlock {
	font-size: 0.9em;
}


#metroArea {
	display:none;
}

.slideStart {
	margin-top: 3em;
}

#lowerRange {
	padding-left: 1.3em;
}

#upperRange {
	padding-left: 0;
}

.col-xs-1 {
	width: 5%;
	margin-top: 25px;
}

.col-xs-4 {
	width: 40%
}

.col-xs-5 {
	padding-right: 0;
}

.input-group-addon {
	div {
		margin-right: 0.5em;
		font-size: 1.5em;
	}
}

.form-control {
	color: #000;
}

a, i {
	cursor: pointer;
}

a {
	margin: 1em;
	color: $black;
	
	&:hover {
		color: $accent;
	}

	&:visited {
		color: $black;
	}
}

i:hover {
	color: $accent;
}

i:visited {
	color: $black;
}

/* Certificate Initial ----------- */

.certificateBlock {
	background-image: url('../assets/fonts/bg_initial.svg');
	// background-size: cover;
	background-repeat: no-repeat;
	padding: 1em;
	height: 12em;
	width: 100%;
	font-size: 3vw;
	padding: 2em 0em;
}

#initialBlock p {
	text-align: center;
	font-size: 3vw;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1.25em;
}

.certificateBlock.row {
	margin-bottom: 1em;
}


/* Certificate Updated ----------- */

.certHead {
	font-family: FoundersGrotesk_Cnd;
	font-size: 1.3em;
	margin-top: -0.5em;
}

.updatedBlock, .readyBlock {
	text-align: center;
}

.updatedContent, .readyContent {
	font-size: 0.60em;
	margin-top: 1em;
}


/* Certificate Ready ----------- */

.readyContentContainer {
	background-color: $white;
	height: 325px;
}



