$white: #FFF;
$black: #000;
$accent: #FFD700;

.inputBlock {
	font-size: 0.9em;
}


#metroArea {
	display:none;
}

.slideStart {
	margin-top: 3em;
}

#lowerRange {
	padding-left: 1.3em;
}

#upperRange {
	padding-left: 0;
}

.col-xs-1 {
	width: 5%;
	margin-top: 25px;
}

.col-xs-4 {
	width: 40%
}

.input-group-addon {
	div {
		margin-right: 0.5em;
		font-size: 1.5em;
	}
}

.form-control {
	color: #000;
}



.certificateBlock {
	border: 20px solid $accent;
	outline: 2px solid $black;
	width: 100%;
	height: 12em;
	font-size: 3em;
	padding: 2em 1em;
	margin-left: 0;
}


/* Certificate Initial ----------- */

#initialArrow {
	height: 8em;
	background-image: url('../assets/fonts/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-bacbkground-size: contain;
	background-size: contain;
}

#initialText {
	// padding-right: 3em;
	// font-size: 1.2em;
	text-align: left;
	margin-top: 2em;
}


/* Certificate Updated ----------- */

.col-xs-12 {
	h1 {
		font-weight: bold;
		text-align: center;
		font-size: 1.8em;
		margin-top: -0.5em;
	}
}

.updatedBlock {
	text-align: center;
}

.updatedContent {
	margin-top: 1.5em;
}


/* Certificate Ready ----------- */

#test {
	background-color: $white;
}

// #readyHeader {
// 	background-color: $accent;
// 	color: $black;
// }

