
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	
	h3 {
		font-size: 3.5em;
	}

	#initialText {
		padding-right: 1em;
		font-size: 1em;
	}

	#initialArrow {
		height: 10em;
	}

	.certificateBlock {
		height: 15em;
		margin: 2em 0 0 0;
	}

	.col-xs-12 {
		h1 {
			font-size: 1.2em;
		}
	}
	.updatedContent {
		margin-top: 0.5em;
		font-size: 0.9em;
	}

/////////// Dropdown menu styling
	.selector {
		.Select {
			line-height: 6em;
		}
		.Select-value-label {
			font-size: 2.5em;
			margin-top: 0.6em;
		}

		.Select-placeholder {
			font-size: 3em;
			margin-top: 0.6em;
			margin-left: 0.2em;
		}
	}

	.col-xs-7 {
		.Select-control {
			.Select-value {
				margin-top: 1.25em;
				font-size: 1.25em;
			}
		}
	}

	.col-xs-5 #react-select-5--value .Select-value {
		font-size: 1.25em;
		margin-top: 1.25em;
	}
	.col-xs-7 #react-select-6--value .Select-value {
		font-size: 1.25em;
		margin-top: 1.25em;
	}

	.Select-value {
		margin-top: 1.5em;
		font-weight: bold;
	}
///////////////////////////


	.Select-placeholder, .Select--single > .Select-control .Select-value {
		max-width: 90%;
		color: $black;
	}

	.Select {
		.is-open {
			color: #FF0000;
			font-size:2em;
		}
		
	}

	
}


/* iPad portrait ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

	#initialText {
		padding-right: 0;
		font-size: 1em;
		margin-top: 0;
	}

}

