
/* Little desktop certificate fix ----------- */
// @media screen 
// and (min-width : 1000px) 
// and (max-width : 1200px) {
// 	.readyContentContainer, .updatedContent {
// 		font-size: 0.5em;
// 	}
// }

@media screen 
and (min-width : 500px) 
and (max-width : 990px) {
	.initialBlock, .underBlock, .paidBlock {
		height: 20em;
		margin: 2em;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {



	.Select-input {
		input {
			font-size: 40px !important;
		}
	}


	h3 {
		font-size: 3.5em;
	}

	.initialBlock, .underBlock, .paidBlock {
		margin: 0;
	}

	.certificateBlock {
		margin: 4em;
	}


	.underContent {
		margin: 13.5em 1em 0 4em;
    	width: 65vw;
    	font-size: 2vw;
	}

	.paidContent {
		margin: 12.5em 1em 0 3em;
		width: 65vw;
		font-size: 2vw;
	}

/////////// Dropdown menu styling
	.selector {
		.Select {
			line-height: 6em;
		}
		.Select-value-label {
			font-size: 2.5em;
			margin-top: 0.6em;
		}

		.Select-placeholder {
			font-size: 3em;
			margin-top: 0.6em;
			margin-left: 0.2em;
		}
	}

	.col-xs-7 {
		.Select-control {
			.Select-value {
				margin-top: 1.25em;
				font-size: 1.25em;
			}
		}
	}

	.col-xs-5 #react-select-5--value .Select-value {
		font-size: 1.25em;
		margin-top: 1.25em;
	}
	.col-xs-7 #react-select-6--value .Select-value {
		font-size: 1.25em;
		margin-top: 1.25em;
	}

	.Select-value {
		margin-top: 1.5em;
		font-weight: bold;
	}

	.Select.Select--single.is-focused.is-open.is-searchable.has-value {
		padding-top: 10px;

		.Select-value-label{
			opacity: 0.2;
		}
	}

	.Select.Select--single.is-focused.is-open.is-searchable {		
		.Select-placeholder {
			opacity: 0.2;
			padding-top: 10px;
		}
	}
///////////////////////////


	.Select-placeholder, .Select--single > .Select-control .Select-value {
		max-width: 90%;
		color: $black;
	}

	.Select {
		.is-open {
			color: #FF0000;
			font-size:2em;
		}
		
	}

	.certHead {
		font-size: 2.25em;
	}

	.readyContentContainer {
		font-size: 1.5em;
		height: 400px;
	}
}


/* iPad portrait ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

	.initialBlock {
		margin: 2em;
		height: 20em;
	}


}

