$track_background: #000;
$track_background_focus: #FFD700;
$track_border: #000;


@mixin thumb {
	border: 1px solid #000;
	border-radius: 0;
	height: 2em;
	width: 5em;
	background: #000;
	cursor: pointer;

}

@mixin track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: $track_background;
	border: 2px solid $track_border;
	border-radius: 0;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;

	&:focus {
		outline: none;
	}

	&-webkit-slider {
		-webkit-appearance: none;
	}


	/* thumb section */
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-top: -1em;
		@include thumb;
	}

	&::-moz-range-thumb {
		@include thumb;
	}

	&::-ms-thumb {
		@include thumb;
	}

	/* track section */
	&::-webkit-slider-runnable-track {
		@include track;
	}

	&:focus::-webkit-slider-runnable-track {
		background: $track_background_focus;
		border-color: $track_background_focus;
	}

	&::-moz-range-track {
		@include track;
	}


}

