@import 'FYPM';

$white: #FFF;
$black: #000;
$accent: #FFD700;

body {
	padding: 3em;
}

#root {
	margin: 2em auto;
}

.col-xs-8 {
	margin-top: 1em;
}

.Select-control, .input-group {
	border-radius: 0;
	border: 2px solid $black;
	color: $black;
}

.Select-arrow {
	border-color: $black transparent transparent;
	border-width: 10px 10px 0px;
	margin-right: 1em;
}

.form-control, .input-group-addon {
	border: 1px solid transparent;
}

.input-group .form-control {
	z-index: 0;
}

.input-group-addon {
	background-color: $white;
}

.form-control:focus, .Select, .Select--single, .is-searchable, .has-value {
	border:none !important;
}

