@import 'FYPM';

$white: #FFF;
$black: #000;
$accent: #FFD700;


// @font-face {
// 	font-family: FoundersGrotesk;
// 	src: url('/assets/fonts/FoundersGroteskWeb-Regular.eot');
// 	src: url('../assets/fonts/FoundersGroteskWeb-Regular.woff') format('woff'),
// 		url('/assets/fonts/FoundersGroteskWeb-Regular.woff2') format('woff2');
// 	font-weight: normal;
// }

@font-face {
	font-family: FoundersGrotesk;
	src: url('/assets/fonts/FoundersGroteskWeb-Bold.eot');
	src: url('../assets/fonts/FoundersGroteskWeb-Bold.woff') format('woff'),
		url('/assets/fonts/FoundersGroteskWeb-Bold.woff2') format('woff2');
	font-weight: bold;
}


body {
	padding: 3em;
	font-family: FoundersGrotesk;
	font-weight: bold;
	color: $black;
}

input {
	line-height: 2.5em;
}

#root {
	margin: 2em auto;
}

.selector {
	margin-top: 1em;
}

.Select-control, .input-group {
	border-radius: 0;
	border: 2px solid $black;
	color: $black;
}

.Select-arrow {
	border-color: $black transparent transparent;
	border-width: 10px 10px 0px;
	margin-right: 1em;
}

.Select:focus {
	outline: none;
}

.form-control, .input-group-addon {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group .form-control {
	z-index: 0;
}

.input-group-addon {
	background-color: $white;
	color: $black;
}

.form-control:focus {
	border:none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}
