@import 'FYPM';
@import 'slider';
@import 'mobile';


$white: #FFF;
$black: #000;
$accent: #FFD700;

@font-face {
	font-family: FoundersGrotesk;
	src: url('../assets/fonts/FoundersGroteskWeb-Bold.eot');
	src: url('../assets/fonts/FoundersGroteskWeb-Bold.woff') format('woff'),
		url('../assets/fonts/FoundersGroteskWeb-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: FoundersGrotesk_Cnd;
	src: url('../assets/fonts/FoundersGrotXCondWeb-Bold.eot');
	src: url('../assets/fonts/FoundersGrotXCondWeb-Bold.woff') format('woff'),
		url('../assets/fonts/FoundersGrotXCondWeb-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: FoundersGrotesk;
	src: url('../assets/fonts/FoundersGroteskWeb-Regular.eot');
	src: url('../assets/fonts/FoundersGroteskWeb-Regular.woff') format('woff'),
		url('../assets/fonts/FoundersGroteskWeb-Regular.woff2') format('woff2');
	font-weight: normal;
}



#root {
	margin: 2em auto;
}

body {
	//padding: 3em;
	font-family: FoundersGrotesk;
	font-weight: normal;
	color: $black;
}


/* Main sizing things */
h3 {
	//font-size: 2.5em;
	font-weight: bold;
	margin-top: 10px;
	// line-height: 1.5;
}

.row {
	margin-bottom: 2em;
}



/***********  ALL THE MENU THINGS  ***********/
/*
Select placeholder - start
value-label is span
value is div container
*/

.Select {
	line-height: 3em;
}

.Select-placeholder {
	margin-top: 0.1em;
}

.Select-value-label {
	font-weight: bold;
}

.Select-placeholder, .Select-value-label {
	font-size: 1.5em;
}

.Select-value {
	margin-top: 0.5em;
}

.Select-value, .Select-placeholder {
	padding-left: 20px !important;
	//padding-left: 1.5em !important;
}

.Select-option {
	font-size: 1.5em;
	padding: 0.15em 20px;
}

.Select-option.is-focused {
	background-color: rgba(255, 215, 0, 0.08);
}

.Select-menu {
	//border: 2px solid black;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

.Select-menu-outer {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}


.Select-placeholder, .Select--single > .Select-control .Select-value {
	max-width: 90%;
	color: $black;
}

.Select {
	.is-open {
		color: #FF0000;
		font-size:2em;
	}
}

.Select.Select--single.is-focused.is-open.is-searchable {	
	.Select-placeholder {
		font-color: rgba(0,0,0,0.5);
	}
}


.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: $black;
}


.Select-control, .input-group {
	border-radius: 0;
	border: 2px solid $black;
	color: $black;
}

.Select-arrow {
	border-color: $black transparent transparent;
	border-width: 10px 10px 0px;
	margin-right: 1em;
}

.Select-control {
	padding-top: 4px;
}

.Select:focus {
	outline: none;
}

.is-open > .Select-control {	
}

#react-select-6--value {
	.Select-value {
		margin-top: 0.1em;
	}
		
}



// this is more specific and is overriding the select-value
#react-select-5--value {
	.Select-value {
		margin-top: 0.1em;
	}
}


.form-control, .input-group-addon {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group .form-control {
	z-index: 0;
}

.input-group-addon {
	background-color: $white;
	color: $black;
}

.form-control:focus {
	border:none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}


